@import "bootstrap-sprockets";
@import "bootstrap";
@import "lightbox-bootstrap";

/*
 *= require font-awesome
 */

#table1 {
  width: 85%;
  margin: 0 auto !important;
}
select.datetime-select {
    width:auto;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}
