@import "bootstrap-sprockets";
@import "bootstrap";
@import "lightbox-bootstrap";
@import 'bootstrap-datetimepicker';
@import 'schedules';

#table1 {
  width: 85%;
  margin: 0 auto !important;
}
#student_image {
  margin: 0 auto !important;
}
input[type="radio"]{
  margin: 0 10px 0 0;
}
