
body, html {
  margin: 0;

}

#left {
  position: absolute;
  top: 28em;
  bottom: 0;
  left: 12%;
  width: 50%;
  overflow-y: scroll;
}

#right {
  position: absolute;
  top: 28em;
  bottom: 0;
  right: 12%;
  overflow-y: scroll;
  width: 25%;
}
